.patient_list {
    background-color: #cafcfc;
    height: 80vh;
    width: 1150px;
    position: absolute;
    padding: 20px;
    margin-top: -50px;

    margin-left: -105px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: width 0.9s;
    border-radius: 20px;
}

.form {
    background-color: #83e8ea;
}

.form thead th{
    background-color: #22bfc2;
}

/* .update-btn{
    background-color: #167d7f !important;
} */